{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    <h1>Create page</h1>
    <br>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <label>Title</label>
        <br>
        <input type="text" name="title" autocomplete="off">
        <br><br>
        <label>Content</label>
        <br>
        <textarea name="content" type="text"></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
{% endblock %}